<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minimal.mapper.back.BackRoleMapper">
    <resultMap id="BaseResultMap" type="com.minimal.entity.model.Role">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByOperationUserId" resultType="com.minimal.entity.model.Role">
        select t1.* from role t1
        left join relation_operation_user_role t2 on t1.id = t2.role_id
        where 1=1
        and t2.operation_user_id = #{operationUserId,jdbcType=BIGINT}
  </select>
</mapper>