<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minimal.mapper.wechat.UserRelationshipMapper" >
  <resultMap id="BaseResultMap" type="com.minimal.entity.model.UserRelationship" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="coin" property="coin" jdbcType="INTEGER" />
    <result column="act_user_id" property="actUserId" jdbcType="VARCHAR" />
    <result column="be_user_id" property="beUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
</mapper>